<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Markdown</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="./css/style.css">
</head>
<script src="../lib/vue.js"></script>
<script src="../lib/marked.js"></script>
<script src="../lib/moment.js"></script>
<script src="../lib/vue-i18n.js"></script>

<body>
  <div id="notebook">
    <!-- 侧边栏 -->
    <aside class="side-bar">
      <!-- 笔记列表 -->
      <div class="toolbar">
        <div class="add-btn">
          <button @click="addNote" :title="addButtonTitle">
            <i class="material-icons">add</i>
            {{$t("toolbar.add")}}
          </button>
        </div>
        <div class="notes">
          <!-- 笔记列表显示区域 -->
          <div class="note" v-for="(note, index) in sortedNotes" :key="index" @click="selectNote(note)"
            :class="{selected:note===selectedNote}">
            <i class="icon material-icons" v-if="note.favorite">star</i>
            {{note.title}}
          </div>
        </div>
      </div>
    </aside>
    <!-- 主面板页面 -->
    <!-- template 标签不会出现在 DOM 中 -->
    <template v-if="selectedNote">
      <section class="main">
        <div class="toolbar">
          <!-- 工具栏 -->
          <input type="text" v-model="selectedNote.title" placeholder="None title">
          <button @click="removeNote" :title="$t('toolbar.delete')"><i class="material-icons">delete</i></button>
          <button @click="favoriteNote" :title="$t('toolbar.favorite')"><i
              class="material-icons">{{selectedNote.favorite?'star':'star_border'}}</i></button>
        </div>
        <textarea v-model="selectedNote.content"></textarea>
        <div class="toolbar status-bar">
          <!-- 新的状态栏 -->
          <span class="lines">
            <span class="label">{{$t("toolbar.lines")}}</span>
            <span class="value">{{linesCount}}</span>
          </span>
          <span class="words">
            <span class="label">{{$t("toolbar.words")}}</span>
            <span class="value">{{wordsCount}}</span>
          </span>
          <span class="characters">
            <span class="label">{{$t("toolbar.characters")}}</span>
            <span class="value">{{charactersCount}}</span>
          </span>
          <span class="date">
            <span class="label">{{$t("toolbar.created")}}</span>
            <span class="value">{{selectedNote.created | date}}</span>
          </span>
        </div>
      </section>
      <aside class="preview" v-html="notePreview" v-if="selectedNote">
        <!-- {{notePreview}} -->
      </aside>
    </template>
  </div>

  <script src="./js/index.js"></script>
  <!-- <script src="./js/md-i18n.js"></script> -->
</body>

</html>
